In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [19]:
# 모듈 정리
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm  # 폰트
from PIL import Image

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [20]:
data=pd.read_csv('/content/202001~202109.csv',encoding='euc-kr')
data.set_index(['지역','연월'],inplace=True)
data

             쌀20kg  보리쌀1kg   콩1kg  ...  샴푸780ml  화장지30롤  Unnamed: 54
지역  연월                             ...
동구  2020년1월  58075    4510  14119  ...     6572   19845          NaN
서구  2020년1월  61000    3512  12586  ...     6650   22535          NaN
남구  2020년1월  50175    3358  11193  ...     5355   20381          NaN
북구  2020년1월  51925    3852  10112  ...     7798   23508          NaN
광산구 2020년1월  54540    3133  10727  ...     7694   21001          NaN
...            ...     ...    ...  ...      ...     ...          ...
동구  2021년9월  80050    3535  11546  ...     7641   21059          NaN
서구  2021년9월  68875    4119  14218  ...    10808   23513          NaN
남구  2021년9월  58308    3710  10420  ...     5997   22158          NaN
북구  2021년9월  64225    4006  11660  ...     9293   23942          NaN
광산구 2021년9월  60587    3671  13151  ...     9339   21053          NaN

[100 rows x 53 columns]

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 100 entries, ('동구', '2020년1월') to ('광산구', '2021년9월')
Data columns (total 53 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   쌀20kg        100 non-null    int64
 1   보리쌀1kg       100 non-null    int64
 2   콩1kg         100 non-null    int64
 3   밀가루2.5kg     100 non-null    int64
 4   두부(국산)340g   100 non-null    int64
 5   두부(수입)340g   100 non-null    int64
 6   참깨(국산)500g   100 non-null    int64
 7   참깨(수입)500g   100 non-null    int64
 8   소등심(국산)500g  100 non-null    int64
 9   소등심(수입)500g  100 non-null    int64
 10  돼지삼겹500g     100 non-null    int64
 11  닭육계1kg       100 non-null    int64
 12  달걀10개        100 non-null    int64
 13  갈치60cm       100 non-null    int64
 14  동태40cm       100 non-null    int64
 15  조기23cm       100 non-null    int64
 16  고등어30cm      100 non-null    int64
 17  오징어25cm      100 non-null    int64
 18  마른멸치5cm/1kg  100 non-null    int64
 19  생선통조림150g    100 non-null    int64
 20  사과10개        100 non-null    int64
 21  배1개          100 non-null    int64
 22  귤10개         100 non-null    int64
 23  배추2kg        100 non-null    int64
 24  상추100g       100 non-null    int64
 25  무1kg         100 non-null    int64
 26  콩나물270g      100 non-null    int64
 27  파1단          100 non-null    int64
 28  양파1kg        100 non-null    int64
 29  마늘1kg        100 non-null    int64
 30  감자1kg        100 non-null    int64
 31  설탕1kg        100 non-null    int64
 32  참기름320ml     100 non-null    int64
 33  식용류1.8L      100 non-null    int64
 34  고춧가루100g     100 non-null    int64
 35  간장1.8L       100 non-null    int64
 36  커피50개        100 non-null    int64
 37  콜라1.5L       100 non-null    int64
 38  우유1L         100 non-null    int64
 39  소주360ml      100 non-null    int64
 40  맥주355ml      100 non-null    int64
 41  라면120g       100 non-null    int64
 42  김16봉         100 non-null    int64
 43  휘발유1L        100 non-null    int64
 44  경유1L         100 non-null    int64
 45  LPG차량용1L     100 non-null    int64
 46  등유1L         100 non-null    int64
 47  연탄10장        100 non-null    int64
 48  세탁비누4kg      100 non-null    int64
 49  치약130g       100 non-null    int64
 50  샴푸780ml      100 non-null    int64
 51  화장지30롤       100 non-null    int64
 52  Unnamed: 54  0 non-null      float64
dtypes: float64(1), int64(52)
memory usage: 42.7+ KB

In [22]:
col=[]
for i in data.columns:
  col.append(i)

area = ['동구','서구','남구','북구','광산구']
agri = col[:8]
anim = col[8:13]
fish = col[13:20]
fruit = col[20:23]
vegi = col[23:31]
life = col[31:43]
oil = col[43:48]
bath = col[48:52]

In [37]:
# j = 0,1,2,3,4 >> 동,서,남,북,광산구
j=4
agri_data = [np.round((pd.DataFrame(data.loc[area[j]][agri[i]])[agri[i]][-1])/
                 (pd.DataFrame(data.loc[area[j]][agri[i]])[agri[i]][-2])-1,3)
        for i in range(len(agri))]
anim_data = [np.round((pd.DataFrame(data.loc[area[j]][anim[i]])[anim[i]][-1])/
                 (pd.DataFrame(data.loc[area[j]][anim[i]])[anim[i]][-2])-1,3)
        for i in range(len(anim))]
fruit_data = [np.round((pd.DataFrame(data.loc[area[j]][fruit[i]])[fruit[i]][-1])/
                 (pd.DataFrame(data.loc[area[j]][fruit[i]])[fruit[i]][-2])-1,3)
        for i in range(len(fruit))]
vegi_data = [np.round((pd.DataFrame(data.loc[area[j]][vegi[i]])[vegi[i]][-1])/
                 (pd.DataFrame(data.loc[area[j]][vegi[i]])[vegi[i]][-2])-1,3)
        for i in range(len(vegi))]
life_data = [np.round((pd.DataFrame(data.loc[area[j]][life[i]])[life[i]][-1])/
                 (pd.DataFrame(data.loc[area[j]][life[i]])[life[i]][-2])-1,3)
        for i in range(len(life))]
oil_data = [np.round((pd.DataFrame(data.loc[area[j]][oil[i]])[oil[i]][-1])/
                 (pd.DataFrame(data.loc[area[j]][oil[i]])[oil[i]][-2])-1,3)
        for i in range(len(oil))]
bath_data = [np.round((pd.DataFrame(data.loc[area[j]][bath[i]])[bath[i]][-1])/
                 (pd.DataFrame(data.loc[area[j]][bath[i]])[bath[i]][-2])-1,3)
        for i in range(len(bath))]
df_agri = pd.DataFrame([agri_data],index=['전월대비'],columns=[agri]).transpose()
df_anim = pd.DataFrame([anim_data],index=['전월대비'],columns=[anim]).transpose()
df_fruit = pd.DataFrame([fruit_data],index=['전월대비'],columns=[fruit]).transpose()
df_vegi = pd.DataFrame([vegi_data],index=['전월대비'],columns=[vegi]).transpose()
df_life = pd.DataFrame([life_data],index=['전월대비'],columns=[life]).transpose()
df_oil = pd.DataFrame([oil_data],index=['전월대비'],columns=[oil]).transpose()
df_bath = pd.DataFrame([bath_data],index=['전월대비'],columns=[bath]).transpose()
df_max = pd.DataFrame(data=[agri_data[np.argmax(np.abs(agri_data))],anim_data[np.argmax(np.abs(anim_data))],fruit_data[np.argmax(np.abs(fruit_data))],vegi_data[np.argmax(np.abs(vegi_data))],life_data[np.argmax(np.abs(life_data))],oil_data[np.argmax(np.abs(oil_data))],bath_data[np.argmax(np.abs(bath_data))]],
                       columns=['전월대비'],
                       index=[agri[np.argmax(np.abs(agri_data))],anim[np.argmax(np.abs(anim_data))],fruit[np.argmax(np.abs(fruit_data))],vegi[np.argmax(np.abs(vegi_data))],life[np.argmax(np.abs(life_data))],oil[np.argmax(np.abs(oil_data))],bath[np.argmax(np.abs(bath_data))]])
df_max

              전월대비
두부(국산)340g  -0.072
소등심(국산)500g  0.040
배1개         -0.121
상추100g       0.155
콜라1.5L       0.054
LPG차량용1L     0.017
치약130g       0.091

In [25]:
import pandas as pd
data_place=pd.read_csv('/content/mart.csv',encoding='euc-kr')
data_place.set_index(['지역','연월'],inplace=True)
data_place['장소'].values

array(['롯데백화점', '신세계백화점', '홈플러스 계림점', '영암마트 학동점', '롯데마트 월드컵점',
       '코코식자재마트 상무점', '진월동 마켓올레', '신세계 이마트봉선점', '정 마켓', '홈플러스 두암점',
       'SM마트 운암점', '신선마트 용봉점', '신세계이마트 광산점', '롯데마트 첨단점', '하나로마트 수완점',
       '홈플러스 하남점', '대인시장', '양동시장', '무등시장', '말바우시장', '하남월곡시장', '롯데백화점',
       '신세계백화점', '홈플러스 계림점', '영암마트 학동점', '롯데마트 월드컵점', '코코식자재마트 상무점',
       '진월동 마켓올레', '신세계 이마트봉선점', '정 마켓', '홈플러스 두암점', 'SM마트 운암점',
       '신선마트 용봉점', '신세계이마트 광산점', '롯데마트 첨단점', '하나로마트 수완점', '홈플러스 하남점',
       '대인시장', '양동시장', '무등시장', '말바우시장', '하남월곡시장'], dtype=object)

In [35]:
j=[0,1,2,3,4]
list_n = pd.DataFrame(data_place.loc['북구'])['장소'].values
list_e = pd.DataFrame(data_place.loc['동구'])['장소'].values
list_w = pd.DataFrame(data_place.loc['서구'])['장소'].values
list_s = pd.DataFrame(data_place.loc['남구'])['장소'].values
list_g = pd.DataFrame(data_place.loc['광산구'])['장소'].values

['신세계이마트 광산점' '롯데마트 첨단점' '하나로마트 수완점' '홈플러스 하남점' '하남월곡시장' '신세계이마트 광산점'
 '롯데마트 첨단점' '하나로마트 수완점' '홈플러스 하남점' '하남월곡시장']

In [36]:
data_mart=pd.read_csv('/content/mart.csv',encoding='euc-kr')
data_mart.set_index(['장소','연월'],inplace=True)
# list_e = ['롯데백화점' '홈플러스 계림점' '영암마트 학동점' '대인시장' '롯데백화점' '홈플러스 계림점' '영암마트 학동점' '대인시장']
# list_w = ['신세계백화점' '롯데마트 월드컵점' '코코식자재마트 상무점' '양동시장' '신세계백화점' '롯데마트 월드컵점' '코코식자재마트 상무점' '양동시장']
# list_s = ['진월동 마켓올레' '신세계 이마트봉선점' '정 마켓' '무등시장' '진월동 마켓올레' '신세계 이마트봉선점' '정 마켓' '무등시장']
# list_n = ['홈플러스 두암점' 'SM마트 운암점' '신선마트 용봉점' '말바우시장' '홈플러스 두암점' 'SM마트 운암점' '신선마트 용봉점' '말바우시장']
# list_g = ['신세계이마트 광산점' '롯데마트 첨단점' '하나로마트 수완점' '홈플러스 하남점' '하남월곡시장' '신세계이마트 광산점' '롯데마트 첨단점' '하나로마트 수완점' '홈플러스 하남점' '하남월곡시장']
df=pd.DataFrame(data_mart.loc['홈플러스 두암점'])
agri_data = [np.round((df[agri[i]][-1])/
                 (df[agri[i]][-2])-1,3)
        for i in range(len(agri))]
anim_data = [np.round((df[anim[i]][-1])/
                 (df[anim[i]][-2])-1,3)
        for i in range(len(anim))]
fruit_data = [np.round((df[fruit[i]][-1])/
                 (df[fruit[i]][-2])-1,3)
        for i in range(len(fruit))]
vegi_data = [np.round((df[vegi[i]][-1])/
                 (df[vegi[i]][-2])-1,3)
        for i in range(len(vegi))]
life_data = [np.round((df[life[i]][-1])/
                 (df[life[i]][-2])-1,3)
        for i in range(len(life))]
oil_data = [np.round((df[oil[i]][-1])/
                 (df[oil[i]][-2])-1,3)
        for i in range(len(oil))]
bath_data = [np.round((df[bath[i]][-1])/
                 (df[bath[i]][-2])-1,3)
        for i in range(len(bath))]
df_agri = pd.DataFrame([agri_data],index=['전월대비'],columns=[agri]).transpose()
df_anim = pd.DataFrame([anim_data],index=['전월대비'],columns=[anim]).transpose()
df_fruit = pd.DataFrame([fruit_data],index=['전월대비'],columns=[fruit]).transpose()
df_vegi = pd.DataFrame([vegi_data],index=['전월대비'],columns=[vegi]).transpose()
df_life = pd.DataFrame([life_data],index=['전월대비'],columns=[life]).transpose()
df_oil = pd.DataFrame([oil_data],index=['전월대비'],columns=[oil]).transpose()
df_bath = pd.DataFrame([bath_data],index=['전월대비'],columns=[bath]).transpose()
df_max = pd.DataFrame(data=[agri_data[np.argmax(np.abs(agri_data))],anim_data[np.argmax(np.abs(anim_data))],fruit_data[np.argmax(np.abs(fruit_data))],vegi_data[np.argmax(np.abs(vegi_data))],life_data[np.argmax(np.abs(life_data))],oil_data[np.argmax(np.abs(oil_data))],bath_data[np.argmax(np.abs(bath_data))]],
                       columns=['전월대비'],
                       index=[agri[np.argmax(np.abs(agri_data))],anim[np.argmax(np.abs(anim_data))],fruit[np.argmax(np.abs(fruit_data))],vegi[np.argmax(np.abs(vegi_data))],life[np.argmax(np.abs(life_data))],oil[np.argmax(np.abs(oil_data))],bath[np.argmax(np.abs(bath_data))]])
df_max

           전월대비
쌀20kg     0.044
닭육계1kg   -0.318
배1개      -0.191
파1단       0.113
커피50개    -0.154
LPG차량용1L  0.023
샴푸780ml   1.434